html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: rgb(97, 103, 123);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #646B7F, #48505E);
    min-height: 85vh;
}

.contato {
    width: 800px;
    min-height: 400px;
    background-color: #3D4451;
    border-radius: 15px;
    padding: 15px 30px;
}

.contato * {
    color: rgba(255, 255, 255, 0.75);
}

.contato a {
    text-decoration: underline;
}

.titulo {
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    margin: 20px;
}

.center {
    font-size: 18px;
    text-align: center;
    font-weight: 400;
}

.contato p {
    font-size: 18px;
    margin: 20px 0;
}

.contato li {
    list-style-type: disc;
    font-size: 18px;
    margin: 10px 20px;
}
