/* HEADER STYLES */
.img-logo {
    max-width: 130px;
    max-height: 130px;
}

.header .header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 130px;
    padding: 20px;
    background-color: black;
}

.header nav ul{
    display: flex;
}

.header nav ul li a {
    font-size: 20px;
    font-weight: 500;
    padding: 2px 40px;
    border-radius: 15px;
    /*transition: 0.3s ease-in-out;*/
    margin-left: 30px;
    color: rgba(255, 255, 255, 0.75);
}

.header nav ul li a:hover{
    color: white;
    background-color: rgb(135, 192, 205);
}


/* SEARCH BAR STYLES */
#barraDeBusca {
  width: 200px;
  height: 25px;
  /*float: left;*/
  border-radius: 15px;
  background-color: rgba(108, 153, 165, 1);
  padding: 3px 5px 5px 30px;
  position: relative;
  margin-left: 20px;
}

#barraDeBusca input {
  color: white;
  font-size: 15px;
  background-color: rgba(108, 153, 165, 1);
}

.btn-barraDeBusca {
    position: absolute;
    left:5px;
}

.btn-barraDeBusca img {
    width: 22px;
    height: 20px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 0.7;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
    opacity: 0.7;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
    opacity: 0.7;
}


/* FOOTER STYLES */
footer {
    height: 100px;
    background-color: black;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.65);
    display: flex;
    justify-content: center;
    align-items: center;
}
