/*header styles*/
.img-logo {
    max-width: 100px;
    max-height: 100px;
}



.header .header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 20px;
    background-color: black;
}

.header nav ul{
    display: flex;
}

.header nav ul li a{
    font-size: 1.8rem;
    font-weight: 400;
    padding: 2px 30px;
    border-radius: 15px;
    transition: 0.3s ease-in-out;
    margin-left: 30px;
    color: rgba(255, 255, 255, 0.75);
}

.header nav ul li a:hover{
    color: white;
    background-color: rgb(135, 192, 205);
}


/*footer styles*/
footer {
    height: 72px;
    background-color: black;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.65);
    display: flex;
    justify-content: center;
    align-items: center;
}
