body {
    font-family: 'Jost', sans-serif;
    background-color: #19191B;
}

.msg {
    text-align: center;
    justify-content: space-around;
    font-size: 16px;
    color: white;
    opacity: 0.65;
}

.resposta {
    min-height: 85vh;
    display: block;
    margin-top: 250px;
}

.img-container {
    text-align: center;
    display: block;
}

.img-logo {
    width: 130px;
    height: 130px;
}

.feedback-usuario>p{
    color: #D20807;
    /*font-size: 16px;*/
}


