body {
    font-family: 'Jost', sans-serif;
    background-color: rgb(210, 224, 232);
}

.msg {
    text-align: center;
    justify-content: space-around;
    font-size: 16px;
    color: white;
    opacity: 0.65;
    font-family: 'Inter', sans-serif; 
    background-color: rgb(210, 224, 232);
}

.img-container {
    text-align: center;
    display: block;
}

.img-logo {
    width: 130px;
    height: 130px;
}

.feedback-usuario>p{
    color: red;
    /*font-size: 16px;*/
}


