html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    background-color: rgb(97, 103, 123);
}

main {

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 85vh;
    background-color: rgb(210, 224, 232);

}
.sobre {
    
    background-color: #A9BCC7;
    border-radius: 15px;

    margin: 20px 0px;
}

.sobre * {
    color: rgb(25, 25, 27);
    padding: 10px 30px;
}

.sobre p {
    width: 600px;
    font-size: 18px;
    text-align: justify;
}

.titulo {
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    margin: 20px 20px;
    color: rgb(25, 25, 27);
    
}

@media (max-width: 720px){

    .sobre p {
        width: 500px;
        font-size: 15px;
        text-align: justify;
    }

    .sobre * {
        color: rgb(25, 25, 27);
        padding: 10px 40px;
    }


}

@media (max-width: 500px){

    .sobre p {
        width: 400px;
        font-size: 13px;
        text-align: justify;
    }
}

