html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    background-color: rgb(97, 103, 123);
    /*background-image: linear-gradient(to bottom, #303841, #6B7288);*/
}

main {
     display: flex;
    justify-content: center;
    align-items: center;
    
}

section {
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}

section img{
    margin-top: 30px;
}

.informacoes {
    color: black;
    width: 500px;
}

main .titulo {
    font-size: 30px;
    color: white;
    font-weight: 600;
    margin: 25px;
    text-align: center;
}

main .texto {
    font-size: 15px;
    text-align: center;
    opacity: 80%;
    text-align: justify;
    
}

