html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    background-color: rgb(97, 103, 123);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

.sobre * {
    color: rgba(255, 255, 255, 0.75);
    padding: 15px 30px;
}

.sobre p {
    width: 600px;
    font-size: 18px;
    text-align: justify;
}

.titulo {
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    margin: 20px 20px;
    color: rgba(255, 255, 255, 0.75);
}
    

