html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: rgb(97, 103, 123);
    /*background-image: linear-gradient(to bottom, #303841, #6B7288);*/
}

.hero {
    display: flex;
    justify-content: center;
    /*background-image: linear-gradient(to bottom, #303841, #6B7288);*/
}

.jogo-container {
    /*background-color: #f1f1f1;*/
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    display: flex;
    border: 1px solid #ccc;
    flex-wrap: wrap;
}

.titulos {
    text-align: center;
}

.itemjogo {
    flex: 1;
    margin: 5px;
    text-align: center;
    font-size: 1.5em;
    min-height: 200px;
    min-width: 200px;
}

.imgjogo {
    height: 200px;
    width: 200px;
}

footer{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}